body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

.container {
  /*background-color: aquamarine;*/
  font-family: "Courier New", Courier, monospace;
  background-color: brown;
}

nav {
  background-color: rgb(234, 255, 0);
}

/* ---------- NAVEGAÇÃO ----------  */

nav ul {
    background-color: blueviolet;
    display: flex;
  }
  
  nav ul li {
    padding: 5px;
    margin: 10px;
    background-color: aqua;
    display: inline-flex;

  }

/* ---------- SEÇÕES ----------  */
section {
  background-color: rgb(189, 199, 209);
  padding: 5px;
  margin: 0 5px 0 0;
}

#box2secao {
  display: inline-flex;
  flex-direction: row;
  background-color: cornflowerblue;
  min-width: 250px;
}




/* LAYOUT PARA MOBILE */
