body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

.container {
  /*background-color: aquamarine;*/
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(153, 165, 42);
}

nav {
  background-color: blue;
}

/* ---------- NAVEGAÇÃO ----------  */

nav ul {
    background-color: rgb(110, 0, 213);
    display: flex;
    flex-wrap: wrap;
  }
  
  nav ul li {
    padding: 5px;
    margin: 10px;
    background-color: aqua;
  }

/* ---------- SEÇÕES ----------  */

#box2secao {
  display: flex;
  background-color: cornflowerblue;
}

section {
  background-color: lightslategrey;
  padding: 5px;
  margin: 5px 5px 0 0;
  flex: 200px;
  flex-wrap: wrap;
}


/* LAYOUT PARA MOBILE */
