body {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}
.container {
  /*background-color: aquamarine;*/
  font-family: "Courier New", Courier, monospace;
  background-color: brown;
}

nav {
  background-color: blue;
}

/* ---------- NAVEGAÇÃO ----------  */
/*
nav ul {
    background-color: blueviolet;
    width: 90%;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;

  }
  
  nav ul li {
    padding: 5px;
    margin: 10px;
    background-color: aqua;

 
  }

  */

/* ---------- SEÇÕES ----------  */

#div1 {
  background-color: lightslategrey;
  padding: 5px;
  margin: 5px 5px 0 0;
}

div:nth-of-type(2) {
  width: 48%;
  float: left;
}

div:nth-last-of-type(3){
  width:48%;
  float: right;
}



/* LAYOUT PARA MOBILE */
